header.header {
    background-color: var(--bg-secondary);
    padding: 0px 28px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-weight: 700;
    color: #fcb900;
}

.subTitle {
    font-weight: 300;
    color: #fff;
}